.movie {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 100px;
  padding-right: 100px;
}

.container_movie {
  padding-left: 120px;
  padding-right: 120px;
  margin: -30px auto 0 auto;
  display: flex;
  gap: 30px;
  padding-bottom: 40px;
  border-bottom: 2px solid rgb(245, 241, 241);
}

.container_additional {
  padding: 20px 0;
  margin: 0 auto;

  border-bottom: 2px solid rgb(245, 241, 241);
}

.img {
  border-radius: 10px;
  width: 100%;
  width: 300px;
}

.goBack {
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
  height: 60px;
  width: auto;
  text-align: center;
  letter-spacing: 0.06em;
  border: 0;
  border-radius: 4px;
  color: white;
  background-color: rgb(179, 174, 175);
  text-decoration: none;
}

.movieDescription {
  padding-top: 15px;
}

.movieTitle {
  font-size: 28px;
  margin-bottom: 20px;
}

.movieText {
  margin-bottom: 20px;
}

.movieOverview {
  margin-bottom: 5px;
}

.movieGenres {
  margin-bottom: 5px;
}

.movieAdditional {
  font-size: 24px;
  text-align: center;
  margin-bottom: 15px;
}

.listAdditional {
  display: flex;
  justify-content: space-around;
}

.itemAdditional {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: rgb(199, 27, 110);
  }
}

.active {
  font-family: "Bungee", sans-serif;
  text-decoration: none;
  font-size: 25px;
  color: rgb(217, 209, 209);
  font-weight: 700;
  letter-spacing: -1px;
  /* transition-duration: 2000ms; */
  border-bottom: 2px solid rgb(227, 14, 117);
}
