.review {
  padding-bottom: 40px;
  padding-top: 40px;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.item {
  padding-bottom: 15px;
}

.author {
  font-size: 18px;
  padding-bottom: 5px;
}

.content {
  padding-left: 40px;
  color: rgb(10, 10, 10);
}

.text {
  display: block;
  width: 400px;
  padding: 10px 40px;
  background-color: silver;
  color: rgb(91, 16, 63);
  font-size: 20px;
  text-align: center;
}
