.section_casts {
  padding-bottom: 40px;
  padding-top: 40px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.item {
  background-color: aliceblue;
  border: 1px solid rgb(149, 143, 143);
  border-radius: 5px;
  width: 260px;
  flex-direction: column;
  transition: 250ms;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.img {
  /* margin: auto; */
  margin-bottom: 10px;
  /* padding-top: 10px; */
  width: 100%;
  height: 100%;
}

.link {
  text-decoration: none;
  color: black;
  text-align: center;
  font-weight: 400;
}

.text {
  font-size: 18px;
}
